@import "./../../styles/variables.scss";

.paginator {
  display: flex;
  align-items: center;
  width: 60px;

  .triangle {
    height: 10px;
    width: 10px;
    border-style: solid;
    cursor: pointer;
  }

  .triangle-left {
    border-width: 5px 10px 5px 0;
    border-color: transparent $main-color transparent transparent;
  }
  .triangle-right {
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent $main-color;
  }

  .current-page {
    font-size: 18px;
    color: $primary-text-color;
    font-family: $font-light;
    margin: 0 10px;
  }

  .hidden {
    visibility: hidden;
  }
}
